<h1>Hey! <%= @user.name %></h1>
<h2>Your followers are</h2>
<% @followers.each do |follower| %>
  <p><%= follower.name %></p>
<% end %>
​
<h2>You follow</h2>
<% @followees.each do |followee| %>
  <p><%= followee.name %></p>
<% end %>
​
<h2>Here's who you don't follow</h2>
<% @not_following.each do |user| %>
  <p><%= user.name %></p> <%= form_for user, url: { action: "update" } do |f| %>
    <%= f.hidden_field :name %>
    <%= f.submit "Add Friend" %>
  <% end %>
<% end %>

<div class="cards">
  <%# @restaurants.each do |restaurant| %>
  <% 12.times do |x| %>
    <div class="card">
      <%# image_tag restaurant.image_url %><br>
      <%# link_to restaurant.name, restaurant %>
      <img src="https://source.unsplash.com/random" alt="Girl in a jacket" width="500" height="600">
    </div>
      <% end %>
  <%# end %>
</div>