<h1> This is photos index </h1>

<div class="cards">
<%= form_tag(new_photo_path, {:method => :get}) do %>
    <% @photos.each do |p| %>
        <div class="card">
            <img src="<%= p.photo %>" alt="random" ><br>
            <div><p> <%= p.quote %> </p></div><br>
            <%= check_box_tag "photo_ids[]", p.id %>
            <%= check_box_tag "photo_ids_two[]", p %>
            <%# check_box_tag :photo_ids, {multiple: true}, 1, nil %>
            <br>
        </div>
    <% end %>
  <%= submit_tag "Submit Post" %>
<% end %>
</div>